<section class="section">
  <!-- Overlay del título (Aparece 3 segundos y se va) -->
  <div class="intro-overlay" [class.hidden]="hideTitle">
    <div class="overlay-content">
      <img [src]="logoSrc" alt="Logo" class="overlay-logo" *ngIf="logoSrc">
      <h1 class="intro-title">{{ titulo }}</h1>
      <p class="overlay-subtitle">{{ subtitulo }}</p>
    </div>
  </div>

  <div class="box" *ngFor="let item of items">
    <img [src]="item.img" [alt]="item.title" class="box-bg" />
    <div class="content">
      <img [src]="logoSrc" alt="Logo" class="box-logo" *ngIf="logoSrc">
      <h3>{{ item.title }}</h3>
      <a class="btn" [href]="item.link">Ver más</a>
    </div>
  </div>
</section>
