<!-- Contenedor del video a todo el ancho -->
<section class="video-full-width">
  <app-header-video></app-header-video>
</section>

<section class="section-header">
  <div class="container">
    <h2 class="section-title">Quiénes somos</h2>
    <p class="section-subtitle">
      En Espumas y Plásticos convertimos insumos en soluciones confortables para el descanso y el bienestar. Con más de
      una década de experiencia en la industria, nos dedicamos a diseñar y fabricar productos que transforman la vida de
      nuestros clientes, combinando innovación, calidad y compromiso con la sostenibilidad.
    </p>

  </div>
</section>