  <main class="dashboard-main">
    <div class="card-grid">
      <div class="card" (click)="navegar('categorias')" title="Gestionar Categorías">
        <fa-icon [icon]="faCategorias" size="2x"></fa-icon>
        <span>Categorías</span>
      </div>

      <div class="card" (click)="navegar('subcategorias')" title="Gestionar Subcategorías">
        <fa-icon [icon]="faSubcategorias" size="2x"></fa-icon>
        <span>Subcategorías</span>
      </div>

      <div class="card" (click)="navegar('productos')" title="Gestionar Productos">
        <fa-icon [icon]="faProductos" size="2x"></fa-icon>
        <span>Productos</span>
      </div>

      <div class="card sync-card" (click)="ejecutarImportacion()" title="Sincronizar con Plaxtilineas">
        <fa-icon [icon]="faImportar" size="2x"></fa-icon>
        <span>Sincronizar</span>
      </div>
    </div>
  </main>